
<div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top">
<a href="#" class="backtotop pngFix">回到顶部</a>
</div>
<div class="main_w clearfix">
    <div class="main">
        <strong class="bbtitles">11月，饮食应清补</strong>


        <div class="ztlist_style1 clearfix" id="ztlist_style1_index">
            <div id="index_cd_leftarrow"></div>
            <div id="index_cd_leftarrow_mask"></div>
            <div id="index_cd_rightarrow"></div>
            <div id="index_cd_rightarrow_mask"></div>
            <div class="ztlist_style1_item_w" id="ztlist_style1_item_w">
                <div class="ztlist_style1_item_ww" id="ztlist_style1_item_ww">

                    <div class="ztlist_style1_item_w1">
                        <div class="ztlist_style1_item">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                	<div class="topzt">
                                		<a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['0']->user_id}/cate_id/{$eighteen['0']->id}"
                                		class="img">
                                		<img src="{$eighteen['0']->final_pic}">
                                		<span class="fixer"></span></a>
                                		<div class="c">
                                			<strong class="title">
                                				<a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['0']->user_id}/cate_id/{$eighteen['0']->id}">{$eighteen['0']->cate_title}</a>
                                			</strong>
                                			s
                                		</div>
                                	</div>
                                </li>
                            </ul>
                        </div>

                        <div class="ztlist_style1_item">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['1']->user_id}/cate_id/{$eighteen['1']->id}"
                                           class="img"><img src="{$eighteen['1']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['1']->user_id}/cate_id/{$eighteen['1']->id}">{$eighteen['1']->cate_title}</a></strong>
                                            <p>暖心暖胃家宴菜</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="ztlist_style1_item mr0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank"
                                           href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['2']->user_id}/cate_id/{$eighteen['2']->id}"
                                           class="img"><img src="{$eighteen['2']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['2']->user_id}/cate_id/{$eighteen['2']->id}">{$eighteen['2']->cate_title}</a></strong>
                                            <p>九款能量早餐集合</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="ztlist_style1_item mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['3']->user_id}/cate_id/{$eighteen['3']->id}"
                                           class="img"><img src="{$eighteen['3']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['3']->user_id}/cate_id/{$eighteen['3']->id}">{$eighteen['3']->cate_title}</a></strong>
                                            <p>满足你对鸡蛋的一切幻想</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="ztlist_style1_item mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['4']->user_id}/cate_id/{$eighteen['4']->id}"
                                           class="img"><img src="{$eighteen['4']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['4']->user_id}/cate_id/{$eighteen['4']->id}">{$eighteen['4']->cate_title}</a></strong>
                                            <p>经典菜肴在家做</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div class="ztlist_style1_item mr0 mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['5']->user_id}/cate_id/{$eighteen['5']->id}"
                                           class="img"><img src="{$eighteen['5']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['5']->user_id}/cate_id/{$eighteen['5']->id}">{$eighteen['5']->cate_title}</a></strong>
                                            <p>食者多欣然</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="ztlist_style1_item_w1">
                        <div class="ztlist_style1_item">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['6']->user_id}/cate_id/{$eighteen['6']->id}"
                                           class="img"><img src="{$eighteen['6']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['6']->user_id}/cate_id/{$eighteen['6']->id}">{$eighteen['6']->cate_title}</a></strong>
                                            <p>涨姿势的食材焯水妙招大放送</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['7']->user_id}/cate_id/{$eighteen['7']->id}"
                                           class="img"><img src="{$eighteen['7']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['7']->user_id}/cate_id/{$eighteen['7']->id}">{$eighteen['7']->cate_title}</a></strong>
                                            <p>拯救厨房小白的料汁配方大揭密</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item mr0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['8']->user_id}/cate_id/{$eighteen['8']->id}"
                                           class="img"><img src="{$eighteen['8']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['8']->user_id}/cate_id/{$eighteen['8']->id}">{$eighteen['8']->cate_title}</a></strong>
                                            <p>为你挑选真正的不辣眼切法</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank"
                                           href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['9']->user_id}/cate_id/{$eighteen['9']->id}"
                                           class="img"><img src="{$eighteen['9']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['9']->user_id}/cate_id/{$eighteen['9']->id}">{$eighteen['9']->cate_title}</a></strong>
                                            <p>更多好文好友好福利如期而至</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['10']->user_id}/cate_id/{$eighteen['10']->id}"
                                           class="img"><img src="{$eighteen['10']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['10']->user_id}/cate_id/{$eighteen['10']->id}">{$eighteen['10']->cate_title}</a></strong>
                                            <p>真相看这里</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item mr0 mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['11']->user_id}/cate_id/{$eighteen['11']->id}"
                                           class="img">
                                           {if empty($eighteen['11'])}
                                           <img src=""><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/create/create">请发布菜谱</a></strong>
                                            <p>美食杰芬芳厨男子为你解密水煮肉</p></div>
                                            {else}

                                            <img src="{$eighteen['11']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['11']->user_id}/cate_id/{$eighteen['11']->id}">{$eighteen['11']->cate_title}</a></strong>
                                            <p>美食杰芬芳厨男子为你解密水煮肉</p></div>
                                            {/if}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="ztlist_style1_item_w1">
                        <div class="ztlist_style1_item">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['12']->user_id}/cate_id/{$eighteen['12']->id}"
                                           class="img"><img src="{$eighteen['12']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['12']->user_id}/cate_id/{$eighteen['12']->id}">{$eighteen['12']->cate_title}</a></strong>
                                            <p>鼻子都香掉</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['13']->user_id}/cate_id/{$eighteen['13']->id}"
                                           class="img"><img src="{$eighteen['13']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['13']->user_id}/cate_id/{$eighteen['13']->id}">{$eighteen['13']->cate_title}</a></strong>
                                            <p>苏泊尔《我是大厨师》第三季火热开赛！</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item mr0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank"
                                           href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['14']->user_id}/cate_id/{$eighteen['14']->id}"
                                           class="img"><img src="{$eighteen['14']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['14']->user_id}/cate_id/{$eighteen['14']->id}">{$eighteen['14']->cate_title}</a></strong>
                                            <p>甜香软糯最相思</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank"
                                           href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['15']->user_id}/cate_id/{$eighteen['15']->id}"
                                           class="img"><img src="{$eighteen['15']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['15']->user_id}/cate_id/{$eighteen['15']->id}">{$eighteen['15']->cate_title}</a></strong>
                                            <p>一种安慰 关于胃和思念</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank" href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['16']->user_id}/cate_id/{$eighteen['16']->id}"
                                           class="img"><img src="{$eighteen['16']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['16']->user_id}/cate_id/{$eighteen['16']->id}">{$eighteen['16']->cate_title}</a></strong>
                                            <p>森蝶妈妈的烹饪秘籍！</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ztlist_style1_item mr0 mb0">
                            <ul class="ztlist_style1_item_list clearfix">
                                <li class="current clearfix">
                                    <div class="topzt">
                                        <a target="_blank"
                                           href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['17']->user_id}/cate_id/{$eighteen['17']->id}"
                                           class="img"><img src="{$eighteen['17']->final_pic}"><span
                                                class="fixer"></span></a>
                                        <div class="c">
                                            <strong class="title"><a target="_blank"
                                                                     href="__SITE__/index/catedetails/catedetails/user_id/{$eighteen['17']->user_id}/cate_id/{$eighteen['17']->id}">{$eighteen['17']->cate_title}</a></strong>
                                            <p>九座城，九段旅程，九种气息</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>    
                    </div>


                </div>
            </div>
        </div>
        <div class="ztlist_cur" id="ztlist_cur"><span></span><span class="current"></span><span></span></div>
        <div class="bbtitles" id="bbtitles">菜单是你的一桌饭
        	<span class="paixu_cd">
        		<a class="l_n current" href="http://i.meishi.cc/recipe_list/?st=new#bbtitles">最新</a>
        		<a class="l_n" href="http://i.meishi.cc/recipe_list/?st=hot#bbtitles">最热</a>　
        		
        	</span>
        </div>

        <div class="cdlist_main" id="cdlist">
            <span class="loading">加载中...</span>
            <div class="cdlist_w cdlist_w_current" po="1">
                
				{foreach $userList as $value}
            	<div class="cdlist_item_style1 clearfix">
            		<h3><a href="__SITE__/index/mylist/mylist/user_id/{$value['id']}">我的菜单</a></h3>
                     
            		<span class="cpcount"><em>{$value['cate_num']}</em>篇菜谱</span>
                    
            		<div class="info">
            			<dl>
            				<dd><strong class="tag">24分前</strong></dd>
            			</dl>
            			<a class="author" href="__SITE__/index/space/space/user_id/{$value['id']}">
            				<img src="{$value['photo']}"/>
            				<strong>{$value['username']}</strong>
            			</a>
            		</div>

            		<ul class="cplist" style = "overflow: hidden;">
            			{foreach $cateList as $val}
            				{if $value['id'] == $val['user_id']}
            			<li>
            				<a href="__SITE__/index/catedetails/catedetails/user_id/{$val['user_id']}/cate_id/{$val['id']}">
            					<img src="{$val['final_pic']}"/>
            					<h4>{$val['cate_title']}</h4>
            				</a>
            			</li>
            				{/if}
            			
            			{/foreach}
            		</ul>
            	</div>
           		{/foreach}
            </div>
        </div>
        <div class="listtyle1_page">
            <div class="listtyle1_page_w">
             <ul>
                <li style="float:left;"><span>{$page}</span></li>
            </ul>
        </div>
        </div>
    </div>
</div>
