
<div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top" style="left: 1126px; display: none; bottom: 20px;"><a href="#" class="backtotop pngFix">回到顶部</a>
</div>
<div class="main_w clearfix"><div class="main">
	<ul class="pathstlye1">
		<li><a href="__SITE__/index/topic/topic">讨论区</a></li>
		<li> &gt; </li>
		<li>发布新主题</li>
	</ul>
	<div class="forum_main clearfix">
		<div class="newpostform_w">
			<form id="newpostform" class="newpostform" action="__SITE__/index/topic/doPublishTopic" method="POST" enctype="multipart/form-data">
				<div id="newpostform" class="newpostform">
				<div class="fortitle">
					<h4>标题</h4>
					<div class="inputw">
						<select name="topicBlock_id" id="topicBlock" >
							<!-- <option value="1" selected="selected">餐桌时光</option> -->
							<option value="2">玩转烘焙</option>
							<option value="3">美食课堂</option>
						</select>
						<input class="posttitle" id="title" name="title" placeholder="请填写标题" type="text">
					</div>
				</div>
				<div class="forcon">
					<h4>内容</h4>			
					<textarea name="content" class='ckeditor' id='textarea'></textarea>
					<!-- <input type="file" name="topic_pic"> -->
					
				</div>
						<!-- <input name="type" value="insert" type="hidden">
						<input name="ogid" value="0" type="hidden">
						<input name="pid" value="0" type="hidden">
						<input name="tid" id="tid" value="0" type="hidden"> -->
				<div class="forsubmit">
					<div class="submitw">
					<input class="submit" id="submit_f" value="发 布" type="submit">
					</div>
				</div>
			</form>
		</div>
		</div>
	</div>
</div>

<style type="text/css">
.newpostform div.fortitle select{width:100px;}
</style><div style="display:none;">


</div>
