
<div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top" style="left: 1206px;"><a href="http://i.meishi.cc/user.php?id=9102067#" class="backtotop pngFix">回到顶部</a></div><div class="main_w clearfix"><div class="main clearfix">
	<h1 class="bbtitles">欢迎来到我的美食空间</h1>
<div class="userheader">
	<div class="avatar_w"><a href="http://i.meishi.cc/"><img src="__STATIC__/index/tx2_6.png"></a></div>
	<div class="userh_main">
		<div class="info1">
			<h1>响箭									<a target="_blank" title="新人" href="http://i.meishi.cc/jifen/dengji.php#dengjiguize" class="user_level normal_level_1"></a>
				</h1>
			<span class="info"><em><a href="http://i.meishi.cc/jifen/mingxi.php">积分：22</a></em> | <em><a href="http://i.meishi.cc/jifen/log.php">经验值：5</a></em><br><em>2016-11-25加入美食杰</em> | <em><a href="http://i.meishi.cc/account/basic.php">编辑个人资料</a></em></span>
			<div class="tools">
				
                <a class="mail" href="http://i.meishi.cc/inbox_list.php">我的私信</a>							</div>
		</div>	</div>
	<div class="user_userinfo">
		<ul class="clearfix">
			<li class="li1"><a href="http://i.meishi.cc/follower.php?id=9102067"><span>关注</span><strong>1</strong></a></li>
			<li class="li2"><a href="http://i.meishi.cc/following.php?id=9102067"><span>粉丝</span><strong>0</strong></a></li>
			<li class="li3"><a href="http://i.meishi.cc/user.php?id=9102067&amp;t=recipe"><span>发布菜谱</span><strong>0</strong></a></li>
			<li class="li4">			<a href="http://i.meishi.cc/app/tizhi_result.php?key=275c67ded8baa11e33f240bbb24d5ec1"><span>体质</span><strong>阴虚质</strong></a>
			</li>
		</ul>
	</div>
</div>

<style>
    .dryrw_btn{display: inline-block;vertical-align: top;height: 22px;padding: 0px 12px;background: #ff3232;  ext-align: center;color: #fff;line-height: 22px;}
    .dryrw_btn:hover{background:#e80000;}
</style>

<div class="user_nav"><ul><li><a href="http://i.meishi.cc/">动态</a></li><li class="current"><a href="http://i.meishi.cc/user.php?id=9102067">作品</a></li><li><a href="http://i.meishi.cc/daren_task/my_task.php?id=9102067">任务</a></li><li><a href="http://i.meishi.cc/collected.php?id=9102067">收藏</a></li><li><a href="http://i.meishi.cc/like.php?id=9102067">喜好</a></li><li><a href="http://i.meishi.cc/app.php?id=9102067">测试</a></li><li><a href="http://i.meishi.cc/userforum.php?id=9102067">讨论</a></li><li><a href="http://i.meishi.cc/recent.php">浏览记录</a></li></ul></div>	<div class="user_main clearfix">
		<div class="user_inner_tab">
			<ul class="user_inner_tab_ul"><li><a href="http://i.meishi.cc/user.php?id=9102067" class="current link">全部作品</a></li><li><a href="http://i.meishi.cc/user.php?id=9102067&amp;t=photo" class="link">我的作品</a></li><li><a href="http://i.meishi.cc/user.php?id=9102067&amp;t=recipe" class="link">我的菜谱</a></li></ul>
			<a target="_blank" href="http://i.meishi.cc/create.php" class="user_inner_tab_btn" id="creatnewcd">+ 发布菜谱</a>            <form method="get" action="http://i.meishi.cc/user.php" class="search_in_myspace">
                <input type="hidden" name="t" value="search">
                                <input type="text" class="text" name="rc_key" value="" placeholder="菜谱、作品名"><input type="submit" class="submit" value="">
            </form>
        </div>
		<div class="listtyle_cd1 clearfix">
				<div class="user_cditem clearfix">
			<div class="l">
				<div class="time"><span>2016年12月</span><strong>02</strong></div>
			</div>
			<div class="zp_r">
			<div class="userzp_zp userzp_zp_370">
                <div class="imgw"><a target="_blank" href="http://i.meishi.cc/recipe.php?id=187568" class="img"><img src="__STATIC__/index/a9102067_148068112535154.jpg"></a><span class="delthis"><a href="http://i.meishi.cc/create.php?id=187568" class="edit">编辑</a> | <a href="javascript:void(0);" onclick="delete_recipe(187568)" class="delete">删除</a></span><span class="confuse">审核未通过：本站仅支持用户上传原创菜谱，请修改后重新上传~
</span></div>
                <a class="name" target="_blank" href="http://i.meishi.cc/recipe.php?id=187568">发生的撒</a>
				<p class="p1">滚动</p>
							</div>			</div>
		</div>
				</div>
			</div>
	</div></div>