
<div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top" style="left: 1206px; display: none; bottom: 20px;">
	<a href="#" class="backtotop pngFix">回到顶部</a></div><div class="main_w clearfix"><div class="main clearfix">
	<h1 class="bbtitles">修改个人资料</h1>
	<div class="user_main clearfix">
		<div class="user_inner_tab">
			<!-- <a href="http://i.meishi.cc/" class="user_backbtn1" title="返回我的空间" alt="返回我的空间"></a> -->
			<ul class="user_inner_tab_ul">
				<li><a href="__SITE__/index/space/personInfo" class="link">编辑个人资料</a></li>
				<li><a href="__SITE__/index/space/setHead" class="current link">修改头像</a></li>
				<li><a href="__SITE__/index/space/setPsw" class="link">修改密码</a></li>
				
			</ul>
		</div>
		<div class="sixin_list">
			<div class="sixin_list_w">
				<div class="useredit_w">
					<ul class="useredit_ul clearfix">
						<form action="__SITE__/index/space/head" method="POST" enctype="multipart/form-data" class="form2">
							<li>
								<dl class="clearfix"><dt>当前头像：</dt>
									<dd class="dd1">
										<img src="{$photo}" class="useravatar"></dd><dd class="dd2"><span class="tip"></span>
									</dd>
								</dl>
							</li>

							<li>
								<dl class="clearfix">
									<dt>新的头像：</dt>
									<dd class="dd1">
										<input type="file" name="photo" style="height:40px;">
									</dd>
									<dd class="dd2"><span class="tip"></span></dd>
								</dl>
							</li>

							<li>
								<dl class="clearfix">
									<dt></dt>
									<dd class="dd1">
										<input type="submit" value="保存" class="submit">
									</dd>
									<dd class="dd2"></dd>
								</dl>
							</li>
						</form>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>