<div class="main_footer pngFix">
	<div class="footer_con1 clearfix">
		<p class="text pngFix"><a href="__SITE__/" class="footer_homelink"></a>
中国，最大的菜谱库<strong> 800,000 篇</strong><br/>每月，用户访问数量<strong> 20,000,000 次</strong><br/>
每年，菜谱被浏览量<strong> 36,000,000,000 次</strong><br/>
现在，这些数字还在不断的增长着，欢迎您来一起使用美食杰</p>
	<!-- 	<div class="links">
		<ul class="cleearfix">
			<li class="sina"><a class="img" target="_blank" href="http://e.weibo.com/meishij"><span>关注：49万</span></a><p><a target="_blank" href="http://e.weibo.com/meishij">点击进入<br/>美食杰官方微博</a></p></li><li class="tengxun"><a class="img"  target="_blank" href="http://user.qzone.qq.com/613171717"><span>关注：10.9万</span></a><p><a target="_blank" href="http://user.qzone.qq.com/613171717">点击进入<br/>美食杰QQ空间</a></p></li><li class="weixin"><a target="_blank" href="http://sj.meishi.cc/" class="img"></a><p><a target="_blank" href="http://sj.meishi.cc/">扫描二维码添加<br/>美食杰为微信好友</a></p></li><li class="download"><a target="_blank" href="http://sj.meishi.cc/" class="img"></a><p><a target="_blank" href="http://sj.meishi.cc/">扫描二维码下载<br/>美食杰手机客户端</a></p></li>
		</ul>
	</div> -->
	</div>
	<div class="footer_con2">
		<dl class="friend_link clearfix">
		<dt>友情链接</dt>
				<!-- <dd><a target="_blank" href="http://www.meishij.net" title="美食">美食</a></dd> -->
				<dd><a target="_blank" href="http://tizhi.meishi.cc" title="体质测试">体质测试</a></dd>
				<dd><a target="_blank" href="http://sj.meishi.cc/app.php?to=guanjia" title="伊特">伊特</a></dd>
				<dd><a target="_blank" href="http://gd.qq.com/food/" title="大粤网美食">大粤网美食</a></dd>
				<dd><a target="_blank" href="http://www.9ku.com/ " title="9酷音乐网">9酷音乐网</a></dd>
				<dd><a target="_blank" href="http://baike.hao123.cn/caipu/" title="123菜谱大全">123菜谱大全</a></dd>
				<dd><a target="_blank" href="http://life.iqiyi.com" title="爱奇艺生活">爱奇艺生活</a></dd>
				<dd><a target="_blank" href="http://www.yue365.com" title="365音乐网">365音乐网</a></dd>
				<dd><a target="_blank" href="http://www.mapbar.com/" title="图吧">图吧</a></dd>
				<dd><a target="_blank" href="http://baa.bitauto.com/" title="汽车论坛">汽车论坛</a></dd>
				<dd><a target="_blank" href="http://food.39.net" title="39健康饮食">39健康饮食</a></dd>
				<dd><a target="_blank" href="http://www.qqtn.com/ " title="QQ下载 ">QQ下载</a></dd>
				<dd><a target="_blank" href="http://www.meilele.com/" title="家具网">家具网</a></dd>
				<dd><a target="_blank" href="http://chihe.sohu.com" title="搜狐美食">搜狐美食</a></dd>
				<dd><a target="_blank" href="http://www.meishichina.com" title="美食天下">美食天下</a></dd>
				<dd><a target="_blank" href="http://www.tesecai.cn/" title="特色菜网">特色菜网</a></dd>
				<dd><a target="_blank" href="http://food.poco.cn/" title="poco美食网">poco美食网</a></dd>
				<dd><a target="_blank" href="http://www.zhms.cn" title="中华美食网">中华美食网</a></dd>
				<dd><a target="_blank" href="http://hefei.8684.cn/" title="合肥公交网">合肥公交网</a></dd>
				<dd><a target="_blank" href="http://www.app111.com/" title="苹果园">苹果园</a></dd>
				<dd><a target="_blank" href="http://www.canyin88.com/" title="红餐微杂志">红餐微杂志</a></dd>
				<dd><a target="_blank" href="http://bj.fang.com" title="北京搜房网">北京搜房网</a></dd>
				<dd><a target="_blank" href="http://dg.ganji.com/" title="东莞赶集网">东莞赶集网</a></dd>
				<dd><a target="_blank" href="http://www.13914.com/" title="厨师网">厨师网</a></dd>
				
				</dl>
	</div>	<div class="footer_con3">
		<ul class="clearfix">
			<li><a target="_blank" href="javascript:;" title="公司简介">公司简介</a></li>
			<li><a target="_blank" href="javascript:;" title="企业文化">企业文化</a></li>
			<li><a target="_blank" href="javascript:;" title="公司动态">公司动态</a></li>
			<li><a target="_blank" href="javascript:;" title="免责声明">免责声明</a></li>
			<li><a target="_blank" href="javascript:;" title="联系我们">联系我们</a></li>
			<li><a target="_blank" href="javascript:;" title="招贤纳士">招贤纳士</a></li>
			<li><a target="_blank" href="javascript:;" title="商务合作">商务合作</a></li>
			<li><a target="_blank" href="javascript:;" title="网站地图">网站地图</a></li>
			
		</ul>
		<p><a target="_blank" href="http://www.miibeian.gov.cn" class="gray_a">京ICP证150335号</a>/京公网安备11010802009977 Copyright © 2003-2016 MEISHIJ CO.,LTD.</p>
	</div>
</div><div style="display:none;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259001544'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259001544' type='text/javascript'%3E%3C/script%3E"));</script></div></body></html>