<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>美食杰 - 美食|菜谱大全|食谱|美食网 - 做你最喜爱的美食,食谱,菜谱网</title>
<meta name="keywords" content="美食,美食网,菜谱,菜谱网,美食地图,食谱,食谱网,特色食谱,特色美食,美食大全家常菜谱,菜谱大全,美食网站,特色菜谱,最新菜谱,美食分享,美食加盟,人气美食,菜谱分享,餐饮加盟,特色小吃,美食文化" />
<meta name="description" content="美食杰 - 中国最优质的美食，食谱，菜谱网。做你最喜爱的美食网，菜谱网。提供最人性化的菜谱大全,食谱家常菜，家常菜谱大全的美食网,让人们在宣泄的都市中体验在家常做菜,享受美食的乐趣.找家常菜谱,上美食杰菜谱美食网" />
<meta content="__SITE__" name="author" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--[if lt IE 7]><script>try { document.execCommand('BackgroundImageCache', false, true); } catch (e) {}</script><![endif]-->
<!--[if IE 6]><script type="text/javascript" src="__STATIC__/index/js/evpng.js"></script><script language="javascript" type="text/javascript">EvPNG.fix(".pngFix,.pngFix:hover");</script><![endif]-->
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/ss_base.css"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/main.css"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/index.css"/>
<script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/j.m.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/list.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/main.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/upload-avatar.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/analy.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jf.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/c.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.sochange-min.js">
</script>


<script src="__STATIC__/index/js/ds.js"></script>
<script type='text/javascript' src='__STATIC__/ckeditor/ckeditor.js'></script>



<!-- start菜谱大全css -->
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/main_1.css"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/list_3.css"/>


<!-- end菜谱大全css -->
<script type="text/javascript" src="__STATIC__/index/js/logo.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/logorender.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/tanxclick(1).js"></script>
<script type="text/javascript" src="__STATIC__/index/js/tanxclick.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/bcore.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/main(1).js"></script>
<script type="text/javascript" src="__STATIC__/index/js/meishijie.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/share.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/keyword.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/plugin.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/tanxssp.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/tkapi.js"></script>

<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/bfd_style.css"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/share_style0_16.css"/>

<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/ss_base.css">
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/main.css">
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/list.css">
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/content.css">
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/tipswindown.css">

<!-- catedetails的css和js -->


<!-- catedetails的css和js end -->



<!-- 美食菜单的css和js start -->

<script type="text/javascript" src="__STATIC__/index/js/bds_s_v2.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/logger.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/bdsstyle.css">

<!-- 美食菜单的css和js end -->
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/upload.css?v=1809"/>
<!-- 添加了一个user.css文件 -->
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/user.css"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/tipswindown.css"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/swiper.min.css"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/uploadify.css?v=1"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/jifen.css"/>
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/index/css/forum.css"/>


<script type="text/javascript" src="__STATIC__/index/js/jquery.form.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/upload.js?v=1824"></script>
<script type="text/javascript" src="__STATIC__/index/js/user.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/tipswindown.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.uploadify.min.js?v=2"></script>
<meta http-equiv="X-UA-Compatible" content="IE=100"><meta http-equiv="Expires" content="Tue, 06 Dec 2016 07:45:02 GMT">
<script type="text/javascript" src="__STATIC__/index/js/m.js"></script>
<script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "//hm.baidu.com/hm.js?01dd6a7c493607e115255b7e72de5f40";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();</script></head>
<body>
	<div class="adinheader">
		<div class="adinheader_w">
			<script type="text/javascript">BAIDU_CLB_fillSlot("206520");</script>
		</div>
	</div>
<div class="header">
	<div class="header_c">
		<a href="__SITE__/" class="logo pngFix"></a>
		<div class="main_search_top_w">
			<div class="suggestionsBox" id="suggestions" style="display:none;"><ul class="suggestionList" id="autoSuggestionsList"></ul></div>
			<form class="search" action="__SITE__/index/search/search">
				<input type="text" class="text" name="search" defaultval="请输入菜谱名/作者" x-webkit-speech="" value="请输入菜谱名/作者" autocomplete="off" onfocus="if(this.value=='请输入菜谱名/作者'){this.value='';}$(this).css('color','#333');" onblur="if(this.value==''){this.value='请输入菜谱名/作者';$(this).css('color','#999');}" >
				<input type="submit" class="submit" value="搜 索">
			</form>
		</div>
		{if empty($username)}
		<div class="loginitem_h" style="margin-top:50px; font-size:20px;">
			<a href="__SITE__/index/auth/login" style="color:#fff;">登录</a>
			<span style="color:#fff;">|</span>
			<a href="__SITE__/index/auth/register" style="color:#fff;">注册</a>
		</div>
		
		{else}
	
		<div class="loginitem_h">
			<script src="__STATIC__/index/loginheader_n2.php"></script>
			<div class="userinfo">
				<div class="userinfo_w" id="userinfo_w">
					<a href="http://i.meishi.cc/cook.php?id=9102067" class="avatar">
						<img src="{$photo}">
					</a>
					<a href="http://i.meishi.cc/cook.php?id=9102067" class="outer">{$username}</a>
					<div class="top_userinfo_more">

						<div class="u">
							<a href="http://i.meishi.cc/cook.php?id=9102067" class="img"><img src="{$photo}"></a>

							<div class="n">
								<a href="http://i.meishi.cc/cook.php?id=9102067">{$username}</a>
								<a target="_blank" href="http://i.meishi.cc/expert/" class="v"></a>
								<span class="l">新人</span>
							</div>
						</div>

						<ul class="clearfix">
							<li>
								<a href="__SITE__/index/create/create" class="redbtn">发布菜谱</a>
								<a href="__SITE__/index/topic/publishTopic" class="greybtn">发布话题</a>
							</li>
							<li><a href="__SITE__/index/space/space/user_id/{$uid}" class="linkk">我的美食空间</a></li>
							<li><a href="__SITE__/index/score/score" class="linkk">我的积分成长</a></li>
							<li>
								<a href="__SITE__/index/index/loginOut" class="linkk">退出登录</a>
							</li>
							{if $usertype==1}
							<li>
								<a href="__SITE__/admin/index/loginOut" class="linkk">后台管理</a>
							</li>
							{/if}
						</ul>

					</div>
				</div>
				<a href="__SITE__/index/space/collect/user_id/{$uid}" class="outer">收藏</a>

				

			</div>
		</div>

		{/if}
	</div>
</div>
<div class="nav">
	<ul id="main_nav">
		<li><a href="__SITE__/" class="link pngFix"><strong>首页</strong></a></li>

		
		<li class="hasmore">
			<a href="__SITE__/index/caipu/caipu" class="link pngFix"><strong>菜谱大全</strong></a>
			
			<div class="dw clearfix">
				<div class="dww clearfix dww_cpdq">
					<div class="dwitem clearfix pngFix">
					{foreach $data1 as $val}
						<dl class="clearfix">
							<dt><a href="{$val['link']}">{$val['block_name']}</a></dt>	
								
							
						</dl>
					{/foreach}
					</div>
					
					<div class="bgitem"></div>
				</div>
			</div>
			
		</li>
		<li class="hasmore"><a href="__SITE__/index/healtheat/healtheat" class="link pngFix"><strong>饮食健康</strong></a>
			<div class="dw clearfix">
				<div class="dww clearfix dww_ysjk">
					<div class="dwitem clearfix pngFix">
					{foreach $health as $val}
						<dl class="clearfix">
							<dt><a href="{$val['link']}">{$val['block_name']}</a></dt>
							
						</dl>
					{/foreach}
					
					<div class="bgitem"></div>
				</div>
			</div>
		</li>
		
		<li style="position:relative;z-index:100;"><a style="padding:0 11px;" href="__SITE__/index/goods/goods" class="link pngFix"><strong>家居馆</strong></a></li>
		<li ><a href="__SITE__/index/topic/topic" class="link pngFix"><strong>讨论组</strong></a></li>
		
	</ul>
</div>

<div class="main_search main_search_slideUp pngFix" slideUp="1" style="_display:none;" id="main_search">
	<div class="main_search_w">
		<div class="searchform_div">	
			<form action="__SITE__/index/search/search"  method="post">
				<input type="text" class="text" name="search" placeholder="输入菜谱、作者">
				<input type="submit" class="submit" value="搜 索">
			</form>
		</div>
        <span id="searchslideup_btn" class="pngFix" style="background-position:0px -48px;">自动收缩</span>
<!--        <a href="http://www.meishij.net" class="bottomlogo_60"><img src="__STATIC__/index/picture/bottomlogo_60.png"></a>-->
<!--		--><!--<span id="searchslideup_btn" class="pngFix"--><!-->自动收缩</span>-->
	</div>
</div>
