.login_w{width:990px;background:#fff;margin-bottom:20px;}

.dsf_box{float:left;width:260px;border-right:1px solid #eee;padding:40px;background:#f5f5f5;}

.dsf_box a{display:block;height:40px;width:260px;background:#fff;border:1px solid #ddd;margin-bottom:10px;display:block;color:#666;font-size:14px;color:#666;line-height:40px;text-indent:70px;background:#fff url(../images/dsf_icons.png) no-repeat;overflow:hidden;*zoom:1;float:left;}

.dsf_box a:hover{background-color:#eee;color:#333;overflow:hidden;*zoom:1;}
.dsf_box a.qq{background-position:0px 0px;}


.dsf_box a.weibo{background-position:0px -40px;}
.dsf_box a.tweibo{background-position:0px -80px;}
.dsf_box a.renren{background-position:0px -120px;}
.dsf_box a.baidu{background-position:0px -160px;}
.dsf_box a.taobao{background-position:0px -200px;}
.dsf_box a.kaixin{background-position:0px -240px;}
.dsf_box a.shengda{background-position:0px -280px;}
.dsf_box a.weixin{background-position:0px -320px;}


.loginbox{float:left;padding:40px;width:560px;position:relative;}
.loginbox h1{height:40px;line-height:40px;font-size:24px;color:#333;font-family:Microsoft Yahei;padding-bottom:10px;}

.loginbox span.go{color:#999;line-height:40px;display:block;position:absolute;right:40px;top:41px;font-size:12px;}

.loginbox span.go a{color:#ff3232;}
.loginbox span.go a:hover{text-decoration:underline;}
.loginbox dl{padding:10px 0px;}
.loginbox dl dt{display:block;width:108px;height:40px;float:left;line-height:40px;font-size:14px;color:#666;margin-top:20px;clear:both;text-align: right;padding-right: 10px;}
.loginbox dl dd.fortips{width:210px;}
.loginbox dl dd.fortips p{margin-top:12px;line-height: 15px; }

.loginbox dl dd.fortips span a{text-decoration:underline;color:#ff3232;}


.loginbox dl dd{height:40px;width:232px;float:left;margin-top:20px;}
.loginbox dl dd input.text{height:18px;line-height:18px;padding:10px;border:1px solid #ddd;width:200px;}
.loginbox dl dd input.password{height:18px;line-height:18px;padding:10px;border:1px solid #ddd;width:200px;}
.loginbox dl dd input.checkbox{position:relative;top:13px;*top:8px;}
.loginbox dl dd em{line-height:40px;padding-left:10px;color:#666;display:inline-block;vertical-align:top;*display:inline;*zoom:1;}
.loginbox dl dd input.submit{display:block;height:38px;width:78px;background:#ff3232;border:1px solid #e90808;color:#fff;font-size:14px;font-weight:bold;float:left;}
.loginbox dl dd input.submit:hover{background:#e90808;}
.loginbox dl dd a.forgot_pw{line-height:40px;padding-left:20px;color:#999;display:inline-block;vertical-align:top;*display:inline;*zoom:1;}
.loginbox dl dd a.forgot_pw:hover{color:#ff3232;text-decoration:underline;}

.loginbox dl dt.send_mobile_code_class,.loginbox dl dd.send_mobile_code_class{margin-top: 8px; }
.loginbox dl dd.send_mobile_code,.loginbox dl dt.send_mobile_code{height: 30px;line-height: 30px; }


#regist_type{height:40px;line-height:40px;font-size:20px;color:#333;padding-bottom:10px;font-family:宋体;}
#regist_type .regist_type_selected{font-weight: bold;text-decoration:underline;}
#regist_type span{padding-right:10px;}
#mobile_register_tab,#email_regist_tab,#mobile_getpw_tab,#email_getpw_tab{cursor:pointer}

.tips_right{color: #e64141;display: block; width: 16px;height: 16px; float: left;margin-right:5px; background: url("../images/ico_warn.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.tips_error{color: #e64141;display: block; width: 16px;height: 16px; float: left;margin-right:5px;  background: url("../images/ico_warn.png") repeat scroll 0 -49px rgba(0, 0, 0, 0);}
.tips{color: #808080;display: block; width: 16px;height: 16px; float: left;margin-right:5px;  background: url("../images/ico_warn.png") repeat scroll 0 -199px rgba(0, 0, 0, 0);}

.tips_error_p{color: #e64141;}


span.level1{color: #e64141;}
span.level2{color: #0a8cd2;}
span.level3{color: #4bb900;}



/*email提示插件*/

.mailListBox{border:1px solid #e0e0e0; background-color:#fff; position:absolute; z-index:9999; display:none;}
.mailListBox ul{padding:0; margin:0;}
.mailListBox li{zoom:1;overflow:hidden;padding:0 3px; margin:0; border-top:1px solid #e0e0e0; list-style:none; font-size:12px; font-family:Arial,Helvetica,sans-serif; line-height:24px; cursor:pointer; color:#999999;}
.mailListBox li.hover{background-color:#e0e0e0; color:#035cc1;}
.mailListBox li.current{background-color:#C1D5EB; color:#035cc1;}




#mail_verify_box{text-align: center;padding: 40px;margin: 40px auto;width: 400px;}
#mail_verify_box h1{font-size: 28px;font-weight: bold;float: left;margin: 26px 0 0 20px; color: #333333}
#mail_verify_box p{clear: both;color: #333333;font-size: 12px;margin: 20px 0 0 0;display: inline-block;line-height: 30px;height: 30px; }
#mail_verify_box span{float: left;}
#mail_verify_box .ok_u29{float: left;margin: 0 0 0 85px;}
#mail_href{display: block;width: 150px;height: 30px;background-color: #D41114;color: #fff;line-height: 30px;float: left;margin-left: 20px}

#verify_delay{color: #bcbcbc;font-size: 12px;text-decoration: underline; }

#resetpw_bymail_ok{text-align: center;padding: 40px;margin: 40px auto;width: 590px;}
#resetpw_bymail_ok h1{font-size: 28px;font-weight: bold;float: left;margin: 26px 0 0 20px; color: #333333}
#resetpw_bymail_ok .ok_u29{float: left;margin: 0 0 0 0px;}
#resetpw_bymail_ok .go_mail{padding: 20px 0;clear: both;font-size: 16px;line-height: 27px;text-align: left;padding-left: 100px; }
#resetpw_bymail_ok .go_mail a{color: blue;padding: 0 10px;font-size: 18px;}
#resetpw_bymail_ok .add_write_list{color: #999;text-align: left;padding-left: 100px; }
#resetpw_bymail_ok .add_write_list a{color: #999;padding: 0 20px;text-decoration: underline;}

#resetpw_sucess{text-align: center;padding: 40px;margin: 40px auto;width: 360px;}
#resetpw_sucess .ok_u29{float: left;margin: 0 0 0 0px;}
#resetpw_sucess h1{font-size: 28px;font-weight: bold;float: left;margin: 26px 0 0 20px; color: #333333}
#resetpw_sucess .login{text-align: center;padding: 45px 0 10px 0;display:inline-block; }
#resetpw_sucess .login a{display: block;width: 90px;height: 30px;background-color: #D41114;color: #fff;line-height: 30px;}

.yzmbox{height:185px;width:400px;display:none;}
.yzmbox_w{height:185px;width:400px;}
.yzmbox_w .p1{font-size:14px;text-align:left;line-height:44px;height:44px;color:#333;padding-left:30px;padding-top:15px;}
.yzminput{padding:0px 30px;text-align:left;}
.yzminput .text{height:22px;line-height:22px;width:80px;padding:8px;border:1px solid #eee;font-size:14px;color:#333;display:inline-block;vertical-align:top;*display:inline;*zoom:1;}
#windown-content .yzminput img{height:38px;border:1px solid #eee;display:inline-block;vertical-align:top;*display:inline;*zoom:1;cursor:pointer;}
.yzminput a{line-height:38px;color:#666;}
.yzminput a:hover{color:#ff5151;text-decoration:underline;}
.yzminput .submit{height:30px;line-height:30px;color:#fff;text-align:center;width:60px;background:#ff5151;border:0px;font-size:14px;margin-top:14px;cursor:pointer;}
.yzminput .submit:hover{background:#e90808;}